ul {
  list-style: none;
  padding: 0px;
  width: 600px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

li {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

li > * {
  width: 100%;
  margin: auto;
}